<div class="container">
  <div>
    <h6>Матрицы переходных вероятностей</h6>
    <table class="table table-bordered text-center table-sm" *ngFor="let table of data.probabilities; let k = index;">
      <thead>
      <tr class="table-primary">
        <th scope="col">{{ getStrategyHeading(k) }}</th>
        <th scope="col" *ngFor="let column of table; let i = index">
          {{ getStateHeading(i) }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of table; let i = index">
        <th scope="row"> {{ getStateHeading(i) }} </th>
        <td *ngFor="let cell of row; let j = index" class="p-0">
          <input type="text" class="form-control border-0 w-25"
                 value="{{ cell.toFixed(3) }}" (change)="updateProbabilityCell(k, i, j, $event)">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h6>Матрицы доходностей</h6>
    <table class="table table-bordered table-sm text-center table-sm" *ngFor="let table of data.values; let k = index;">
      <thead>
      <tr class="table-primary">
        <th scope="col">{{ getStrategyHeading(k) }}</th>
        <th scope="col" *ngFor="let column of table; let i = index">
          {{ getStateHeading(i) }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of table; let i = index">
        <th scope="row"> {{ getStateHeading(i) }} </th>
        <td *ngFor="let cell of row; let j = index" class="p-0">
          <input type="text" class="form-control border-0 w-25"
                 value="{{ cell.toFixed(3) }}" (change)="updateValueCell(k, i, j, $event)">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
